week_2/cutout_0.hdf5
cutout_0.hdf5

.gitignore
cutout_5.hdf5
cutout_52.hdf5
cutout_91.hdf5
cutout_185.hdf5
cutout_10498.hdf5
*.hdf5
.gitignore
.gitignore
cutout_24112.hdf5
cutout_68803.hdf5
cutout_59896.hdf5
cutout_77285.hdf5
Week_2/cut.hdf5
class_il/inspect.csv
Class_dev/temppng/*png
Class_dev/masspng/*png
Class_dev/fitpng/*png
Class_dev/linfit.png
Class_dev/suppng/*png
